@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #333;
  --secondaryColor: #eee;
  --primaryText: #eee;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--secondaryColor);
  color: var(--primaryColor);
  line-height: 1.6;
}
/* navbar */
.navbar {
  top: 0;
  width: 100vw;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 50px;
}
.logo {
  min-width: 175px;
}
.navbar-nav {
  list-style: none;
  display: flex;
  min-width: 70vw;
  justify-content: space-between;
  /* margin-right: 50px; */
  padding-left: 100px;
  padding-right: 100px;
}
.nav-item {
  letter-spacing: 2px;
}
.nav-item a {
  text-decoration: none;
  color: var(--primaryText);
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  padding: 13px 25px;
  transition: 0.5s;
}
.nav-item:hover a {
  background: rgba(255, 255, 255, 0.5);
  color: var(--primaryColor);
  backdrop-filter: blur(3rem);
}
/* responsive navbar */
.burger {
  position: absolute;
  cursor: pointer;
  /* display: none; */
}
.burger div {
  background-color: var(--secondaryColor);
  width: 25px;
  height: 3px;
  margin: 5px;
}

/* Image Slider */
.slider {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  top: 0;
}
.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.slide.current {
  opacity: 1;
}
.slide .content {
  position: absolute;
  width: 600px;
  bottom: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  /* background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  ); */
  color: var(--primaryColor);
  padding: 30px;
  opacity: 0;
  /* backdrop-filter: blur(2rem); */
}
.slide .content h1 {
  margin-bottom: 15px;
}
.slide.current .content {
  opacity: 1;
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#nextBtn {
  position: absolute;
  top: 50%;
  right: 15px;
}
.buttons button#prevBtn {
  position: absolute;
  top: 50%;
  left: 15px;
}
.buttons button {
  border: 2px solid var(--secondaryColor);
  background-color: transparent;
  color: var(--secondaryColor);
  padding: 13px 15px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.buttons button:hover {
  background-color: var(--secondaryColor);
  color: var(--primaryColor);
}
/* background image */
.slide:first-child {
  background: url(./images/20180308_185548-01.jpeg) no-repeat center
    center/cover;
}
.slide:nth-child(2) {
  background: url(./images/20180308_183644-01.jpeg) no-repeat center top/cover;
}
.slide:nth-child(3) {
  background: url(./images/20171231_005737.jpg) no-repeat center top/cover;
}
.slide:nth-child(4) {
  background: url(./images/20180517_131544.jpg) no-repeat center top/cover;
}
.slide:nth-child(5) {
  background: url(./images/IMG_8046.JPG) no-repeat center top/cover;
}

.quote {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25vh;
  align-items: center;
  font-size: 1.5rem;
  width: auto;
}
.quote p::before {
  content: open-quote;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  /* display: block; */
}
.quote p::after {
  content: close-quote;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  /* display: block; */
}

/* responsive */

@media screen and (max-width: 600px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }
  .slide.current .content {
    transform: translateY(-300px);
  }
}
